In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\User\Downloads\股價資料(2024-02-02).csv", header=None)
df = df[0].str.split(" ", expand=True)
df.columns = ["Date", "Ticker", "Close", "Drop"]
df["Date"] = df["Date"].astype(str).str.slice(0, 8)
df["Date"] = pd.to_datetime(df["Date"], format='%Y%m%d')
df["Ticker"] = df["Ticker"].astype(str).str.slice(0, 4)
df["Close"] = df["Close"].astype(float)
df = df.drop(["Drop"], axis=1)

In [3]:
df

             Date Ticker  Close
0      2022-01-13   9958  116.0
1      2022-01-14   9958  115.0
2      2022-01-17   9958  114.0
3      2022-01-18   9958  115.5
4      2022-01-19   9958  112.5
...           ...    ...    ...
881561 2024-01-29   3293  825.0
881562 2024-01-30   3293  831.0
881563 2024-01-31   3293  830.0
881564 2024-02-01   3293  836.0
881565 2024-02-02   3293  838.0

[881566 rows x 3 columns]

In [4]:
df.to_csv("Stock_Price_Feb02_2024", index=False)